---
import Section from "@/components/Section.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";

import "@fontsource-variable/onest";
import Form from "@/components/Form.astro";
---

<Layout>
    <Header />
    <main>
        <Section class="w-full mx-auto bg-[#2d1238] min-h-svh">
            <div
                class="max-w-screen-2xl mx-auto py-6 lg:py-20 flex flex-col gap-6 lg:gap-12 px-2"
            >
                <h2
                    class="text-2xl lg:text-6xl text-center font-semibold text-white lg:px-56"
                >
                    Book your
                    <span class="text-pink-400 font-semibold">free demo </span>
                    of Toggl Track
                </h2>
                <p class="text-md lg:text-xl text-center text-slate-500">
                    Let us show how your team can turn Toggl Track into a
                    decision-making tool
                </p>
                <div
                    class="grid grid-cols-2 lg:grid-cols-2 items-start gap-8 lg:px-56 lg:pt-24"
                >
                    <div class="flex flex-col gap-16">
                        <div class="flex flex-col gap-6">
                            <h3 class="text-pink-400 font-bold text-2xl">
                                Time tracking with ease and accuracy
                            </h3>
                            <p class="text-white font-light">
                                Track time across web, mobile, & desktop with
                                100+ integrations
                            </p>

                            <p class="text-white font-light">
                                Simplify workflows with an intuitive interface
                                and organized data
                            </p>
                            <p class="text-white font-light">
                                Gain control with alerts, reminders, and
                                approvals
                            </p>
                        </div>
                        <div class="flex flex-col gap-6">
                            <h3 class="text-pink-400 font-bold text-2xl">
                                Time tracking with ease and accuracy
                            </h3>
                            <p class="text-white font-light">
                                Track time across web, mobile, & desktop with
                                100+ integrations
                            </p>

                            <p class="text-white font-light">
                                Simplify workflows with an intuitive interface
                                and organized data
                            </p>
                            <p class="text-white font-light">
                                Gain control with alerts, reminders, and
                                approvals
                            </p>
                        </div>
                    </div>
                    <div>
                        <Form />
                    </div>
                </div>
            </div>
        </Section>
    </main>
    <Footer class="mt-0 bg-[#2d1238] opacity-95" />
</Layout>
